<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p><a href="http://localhost:8080/api/employee/1">http://localhost:8080/api/employee/1</a> - you must logged in as manager
    or user to retrieve users record. Not accessible to superuser</p>
<p><a href="http://localhost:8080/api/employee/1">http://localhost:8080/api/employee/1</a> - you must logged in as manager
    or user to retrieve users record. Not accessible to superuser</p>
</body>
</html>